APP_ENV=local
APP_URL=http://127.0.0.1:8080
SESSION_SECURE_COOKIE=false

DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=cidb_portal
DB_USERNAME=cidb_portal
DB_PASSWORD=change-me
DB_TIMEOUT=5

RPA_BOT_ENDPOINT=http://103.241.150.147:8081/api/external/ticket-insert
RPA_BOT_API_KEY=
RPA_BOT_TIMEOUT_MS=15000
RPA_BOT_CONNECT_TIMEOUT_MS=5000
RPA_COMPANY=CIDB
RPA_SCENARIO_KEY=cidb_masterbot
RPA_CHANNEL=Email
